
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

@using (Html.BeginForm())
{
    <button class="btn btn-default" id="btnGetCategories"><i class="glyphicon glyphicon-zoom-in"></i> Get Categories</button>
    <button class="btn btn-info" id="btnGetCategory"><i class="glyphicon glyphicon-download-alt"></i> Get Category</button>
    <button class="btn btn-success" id="btnAddCategory"><i class="glyphicon glyphicon-road"></i> Add Category</button>
    <button class="btn btn-primary" id="btnUpdateCategory"><i class="glyphicon glyphicon-refresh"></i> Update Category</button>
    <button class="btn btn-danger" id="btnDeleteCategory"><i class="glyphicon glyphicon-lock"></i> Delete Category</button>
    <br/><br/>

    <input id="txtCategoryID" type="text" placeholder="Category ID" />
    <input id="txtDescription" type="text" placeholder="Category Description" />
    <br /><br />

    <div id="lblMessage"></div>

}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#btnGetCategories").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/api/CategoriesAPI",
                    datatype: "json",
                    cache: false,
                })
                .success(function (data) {
                    var outPut = '';
                    for (var i = 0; i < data.length; i++)
                    {
                        outPut += '<hr/><br/><strong>CategoryID:</strong>';
                        outPut += data[i].CategoryID;
                        outPut += '<br/><strong>Category Description:</strong>';
                        outPut += data[i].Descripcion;
                        $('#lblMessage').html(outPut);
                    }
                    $("#lblMessagge").html(outPut);

                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMessage").html("Error");
                });
                return false;
            });
            $("#btnGetCategory").on("click", function () {

                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "")
                {
                    $("#lblMessage").html('You must enter a category ID');
                    return false;
                }

                $.ajax({
                    type: "GET",
                    url: "/api/CategoriesAPI/" + categoryID,
                    datatype: "json",
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {

                        var outPut = '';
                        outPut += '<hr/><br/><strong>CategoryID:</strong>';
                        outPut += data.CategoryID;
                        outPut += '<br/><strong>Category Description:</strong>';
                        outPut += data.Descripcion;
                        outPut += '<hr/>';
                        $('#lblMessage').html(outPut);
                    } else {
                        $('#lblMessage').html('No se ha encontrado la categoría.');
                    }
                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMessage").html("Error");
                });
                return false;
            });

            $("#btnAddCategory").on("click", function () {
                var desc = $("#txtDescription").val();
                if (desc == "") {
                    $("#lblMessage").html('Debe ingresar una Descripción');
                    return false;
                }
                var category = { Descripcion : desc};

                $.ajax({
                    type: "POST",
                    url: "/api/CategoriesAPI",
                    data: category,
                    datatype: "json",
                    cache: false,
                })
                .success(function (data) {
                    var outPut = '';
                    outPut += '<hr/>Record Added';
                    outPut += '<br/><strong>CategoryID:</strong>';
                    outPut += data.CategoryID;
                    outPut += '<br/><strong>Category Description:</strong>';
                    outPut += data.Descripcion;
                    outPut += '<hr/>';
                    $('#lblMessage').html(outPut);
                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMessage").html("Error!");
                });
                return false;
            });
            $("#btnUpdateCategory").on("click", function () {

                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "") {
                    $("#lblMessage").html('You must enter a category ID');
                    return false;
                }
                var desc = $("#txtDescription").val();
                if (desc == "") {
                    $("#lblMessage").html('Debe ingresar una Descripción');
                    return false;
                }
                var category = { CategoryID: categoryID, Descripcion: desc };


                $.ajax({
                    type: "PUT",
                    url: "/api/CategoriesAPI/" + categoryID ,
                    data: category,
                    datatype: "json",
                    cache: false,
                })
                .success(function (data) {
                    var outPut = '';
                    outPut += '<hr/>The Record was Modified<br/>';
                    $('#lblMessage').html(outPut);
                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMessage").html("Error!");
                });
                return false;
            });
            $("#btnDeleteCategory").on("click", function () {
                var categoryID = $('#txtCategoryID').val();
                if (categoryID == "") {
                    $("#lblMessage").html('You must enter a category ID');
                    return false;
                }

                $.ajax({
                    type: "DELETE",
                    url: "/api/CategoriesAPI/" + categoryID,
                    datatype: "json",
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {

                        var outPut = '';
                        outPut += '<hr/>Record Deleted<br/>';
                        outPut += '<hr/><br/><strong>CategoryID:</strong>';
                        outPut += data.CategoryID;
                        outPut += '<br/><strong>Category Description:</strong>';
                        outPut += data.Descripcion;
                        outPut += '<hr/>';
                        $('#lblMessage').html(outPut);
                    } else {
                        $('#lblMessage').html('No se ha encontrado la categoría.');
                    }
                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMessage").html("Error!");
                });
                return false;
            });

            $(document).ajaxStart(function () {
                $("#loading").show();
            });
            $(document).ajaxStop(function () {
                $("#loading").hide();
            });

        });


    </script>    
}

<style type="text/css">
    #loading {
        display: none;
        background-color: gray;
        z-index: 999999;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        text-align:center;
        padding-top:300px;
        filter: alpha(opacity=75);
        -khtml-opacity:0.75;
        -moz-opacity:0.75;
        opacity:0.75;
    }
</style>
<div id="loading"><img src=" ~/Images/loader.gif" /></div>
